/* .show > .mobile__nav {
  @apply opacity-100 transition-all duration-300;
} */

.mobile__nav-list {
  @apply border-b-2 border-b-secondary;
}

.show {
  animation: nav-show 0.3s ease-out forwards;
}
.hide {
  animation: nav-hide 0.3s ease-out forwards;
}

@keyframes nav-show {
  from {
    height: 7vh;
  }

  to {
    height: 50vh;
  }
}

@keyframes nav-hide {
  from {
    height: 50vh;
  }

  to {
    height: 55px;
  }
}
