@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f5f7f8;
  --primary-color: #45474b;
  --secondary-color: #f11a7b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

h1 {
  @apply text-6xl font-semibold;
}

@media (max-width: 650px) {
  h1 {
    @apply text-5xl;
  }
}
